* {
  margin: 0;
  padding: 0;
  font-family: "MinSans-Medium";
}
body {
  background-color: #131314;
}
a {
  text-decoration: none;
  text-emphasis: none;
  color: whitesmoke;
}

@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
